.rightline{
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 35px;
    background-color: #0a0a0a;
    text-align: center;
    z-index: 100;
    .logos{
        position: absolute;
        top: 50%;
        left: 0;

        width: 100%;
        margin-top: -140px;
        transition: all .2s linear;
        .first{
            position: relative;
            padding-bottom: 6px;
            a{
                display: block;
                color: #FFF;
                height: 35px;
                span{
                    display: inline-block;
                    width: 18px;
                    height: 18px;
                    margin-top: 8px;
                    background: url(../images/base.png) no-repeat -228px -74px;
                }
            }
            p{
                display: none;
                left: -128px;
                opacity: 0;
                position: absolute;
                top: 0;
                width: 71px;
                padding-left: 15px;
                height: 37px;
                line-height: 37px;
                text-align: left;
                background: url(../images/base.png) no-repeat -94px -90px;
                color: #FFF;
            }
        }
        .first:hover{
            p{
                display: block;
                opacity: 1;
                position: absolute;
                left: -81px;
            }
        }
        .second{
            position: relative;
            padding-bottom: 6px;
            a{
                display: block;
                color: #FFF;
                height: 35px;
                span{
                    display: inline-block;
                    width: 19px;
                    height: 15px;
                    margin-top: 11px;
                    background: url(../images/base.png) no-repeat -228px -42px;
                }
            }
            p{
                display: none;
                left: -128px;
                opacity: 0;
                position: absolute;
                top: 0;
                width: 71px;
                padding-left: 15px;
                height: 37px;
                line-height: 37px;
                text-align: left;
                background: url(../images/base.png) no-repeat -94px -90px;
                color: #FFF;
            }
        }
        .second:hover{
            p{
                display: block;
                opacity: 1;
                position: absolute;
                left: -81px;
            }
        }  
        .third{
            position: relative;
            padding-bottom: 6px;
            a{
                display: block;
                color: #FFF;
                text-align: center;
                cursor: pointer;
                span{
                    display: inline-block;
                    width: 22px;
                    margin: 0 auto;
                    padding: 13px 2px;
                    font-size: 13px;
                    border-top: 1px solid #323232;
                    border-bottom: 1px solid #323232;
                    i{
                        display: inline-block;
                        width: 22px;
                        height: 18px;
                        margin-bottom: 7px;
                        background: url(../images/base.png) no-repeat -184px -56px;
                    }
                    font{
                        display: inline-block;
                        width: 21px;
                        height: 21px;
                        margin-top: 8px;
                        line-height: 21px;
                        font-size: 11px;
                        text-align: center;
                        background-color: #df2f3a;
                        border-radius: 11px;
                    }
                }
            }
            a:hover{ 
                span{
                    border-top:1px solid #df2f3a;
                    border-bottom: 1px solid #df2f3a;
                    i{
                        background: url(../images/base.png) no-repeat -184px -38px;
                    } 
                    
                    font{
                        background-color: black;
                    }
                }
               background-color: #df2f3a; 
            }
        }
        .fouth{
            position: relative;
            padding-bottom: 6px;
            display: block;
            a{
                display: block;
                color: #FFF;
                text-align: center;
                span{
                    display: inline-block;
                    width: 18px;
                    height: 16px;
                    margin-top: 10px;
                    background: url(../images/base.png) no-repeat -228px -57px;
                }
            }
            p{
                display: none;
                left: -128px;
                opacity: 0;
                position: absolute;
                top: 0;
                width: 71px;
                padding-left: 15px;
                height: 37px;
                line-height: 37px;
                text-align: left;
                background: url(../images/base.png) no-repeat -94px -90px;
                color: #FFF;
                a{
                    margin-right: 15px;
                }
            }
        }
        .fouth:hover{
            p{
                display: block;
                opacity: 1;
                position: absolute;
                left: -81px;
            }
        }  
        .gotop{
            position: absolute;
            bottom:-180px;
            left: 0;
            width: 35px;
            height: 35px;
            a{
                display: block;
                color: #FFF;
            }
            span{
                display: inline-block;
                width: 24px;
                height: 22px;
                margin-top: 6px;
                background: url(../images/base.png) no-repeat -228px -20px;
            }
        }
    }
}
.head-top{
    height: 33px;
    background-color: #474747;
    color: #CCC;
    line-height: 33px;
    text-align: left;
    ::before{
        content: ".";
        display: block;
        height: 0;
        visibility: hidden;
    }
    .head-topleft{
        float: left;
        li{
        color: #ccc;
        width: 180px;
        float: left;
        }
    }

    .head-topright{
        float: right;
        width:415px;
        text-align: center;
        height: 33px;
        li{
            float: left;
            a{
                color: #ccc;
            }
            a:hover{
                color: white;
            }
        }

        .login{
            width: 80px;
            height: 33px;
            margin-right: 20px;
            float: left;
    
            li {
                width: 38px;
                position: relative;
            }
    
            .login1::after{
                content:"|";
                position: absolute;
                right: 0px;
                top: 0px;
                height:11px;
                width: 1px;
                color: #ccc;
            }
        }
        .order{
            width: 150px;
            height: 33px;
            margin-right: 20px;
            float: left; 
            
            li{
                width: 74px;
                position: relative;
            }
            .order1::after{
                content:"|";
                position: absolute;
                right: 0px;
                top: 0px;
                height:11px;
                width: 1px;
                color: #ccc;
            }
        }
        .shoppingcart{
            width: 120px;
            height: 33px;
            background-color: #1e1e1e;
            float: left;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            position: relative;
            span{
                display: inline-block;
                width:20px;    
                height: 14px;
                overflow: hidden;
                background: url(../images/base.png) no-repeat -164px -20px;
                vertical-align: -2px;
            }
            .car{ 
                margin-left:8px;
                a{
                    color: #666; 
                    
                }
                a:hover{
                    color: white;
                }
            }
            .cartlist{
                height: 106px;
                width: 350px;
                background-color: #fafafa;
                box-shadow: 0 2px 3px #ccc;
                position: absolute;
                z-index: 1;
                top: -74px;
                right: 0;
                display: none;
                p{
                    padding: 49px 0 37px 0;
                    text-align: center;
                    font-size: 14px;
                    color: #666;
                }
            }
            
        }
        .shoppingcart:hover{
            .cartlist{
                display: block;
                position: absolute;
                top: 33px;
                right: 0;    
            }
        }
    }
}

.head-nav{
    height: 110px;
    border-bottom:4px solid #c20315;
    .allgoods:hover{
        background-color: red;
        .secondmenu{
            display: block;
        }
        a{
            color: white;
        }
        span{
            background: url(../images/base.png) no-repeat -39px 0;
        }
    }
    .wmlogo{
        width: 180px;
        height: 110px;
        float: left;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #c20315; 
        img{
            width: 120px;
            height: 40px;
        }
    }
    .shop{
        width: 120px;
        height: 110px;
        float: left;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: 55px;
            height: 27px;
        }
    }
    .allgoods{
        width: 175px;
        height: 110px;
        float: left;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 15px;
        cursor: pointer;
        line-height: 110px;
        position: relative;
        span{
            display: inline-block;
            width: 15px;
            height: 13px;
            margin-right: 7px;
            background: url(../images/base.png) no-repeat -24px 0;
        }
        a{
            color: black;
        }
        .secondmenu{
            font-size: 14px;
            background-color: #fff;
            box-shadow: 0 2px 3px #ccc;
            position: absolute;
            top: 101px;
            left: 0;
            z-index: 1;
            display: none;
            li{
                background-color: yellow;
                position: relative;
                a{
                    display: block;
                    width: 155px;
                    padding-right: 20px;
                    height: 40px;
                    line-height: 40px;
                    background-color: #FFF;
                    color: #474747;
                    position: relative;
                }
                span{
                    position: absolute;
                    top: 15px;
                    right: 10px;
                    width: 6px;
                    height: 10px;
                    overflow: hidden;
                    background: url(../images/base.png) no-repeat -54px 0;
                }
                .thirdmenu{
                    font-size: 14px;
                    background-color: #fff;
                    box-shadow: 0 2px 3px #ccc;
                    position: absolute;
                    left: 175px;
                    top: 0;
                    display: none;
                    overflow: hidden;
                    dd{
                        a{
                            display: block;
                            width: 155px;
                            height: 40px;
                            line-height: 40px;
                            background-color: #f5f5f5;
                            color: #474747;
                        }
                        a:hover{
                            background-color: white;
                        }
                    }
                    
                }
            }
            li:hover{
                
                a{
                    color: red;
                    background-color: #f5f5f5;
                }
                span{
                    background: url(../images/base.png) no-repeat -60px 0;
                }
            }
        }
         .secondmenu:hover{ 
             .thirdmenu{
                 display: block;
             }
         } 
    }

    .links{
        height: 110px;
        line-height: 110px;
        float: left;
        font-size: 14px;
        li{
            float: left;
            text-align: center; 
            a:hover{
                color: red;
            }
            a{
                color: black;
            }
        }
        li:first-child{
            margin-left: 30px;
            width: 60px;
        }
        li:nth-child(2){
            width: 120px;
        }
        li:nth-child(3){
            width: 120px;
        }
        li:nth-child(4){
            width: 60px;
        }
    }
    .search{
        form{
        }
        .text{
            float: left;
            width: 263px;
            height: 39px;
            line-height: 39px;
            padding: 0 5px;
            border: 1px solid #CCC;
            border-right: 0;
            margin-top: 35px;
            position: relative;
        }
        .btn{
            float: left;
            width: 46px;
            height: 41px;
            border: 0;
            background: #e32332 url(../images/search.png) no-repeat center;
            cursor: pointer;
            position: absolute;
            right: 185px;
            top: 68px;
        }
    }
}


