.main{
    margin-top: 20px;
    background-color: #f5f5f5;
}

.dotaarea{
    height: 730px;
    padding-bottom: 20px;
    .title{
        height: 97px;
        background-color: pink;
        display: flex;
        align-items: center;
        position: relative;
        .titleleft{
            float: left;
            li{
                width: 240px;
                height: 40px;
                line-height: 40px;
                background-color: yellow;
                p{
                    float: left;
                    font-size: 18px;
                    font-weight: bold;
                    margin-left: 10px;
                }
                img{
                    width: 35px;
                    height: 35px;
                    float: left;
                }
            }
            
        }
        .titlemid{
            width: 150px;
            height: 34px;
            line-height: 34px;
            margin-left: 150px;
            li{
                a{
                    width: 110px;
                    height: 29px;
                    color: red;
                    display: block;
                    border-bottom: 2px solid red;
                    font-size: 15px;
                    font-weight: bold;
                }
            }
        }
        .titleright{
            height: 97px;
            line-height: 97px;
            width: 70px;
            position: absolute;
            right: 0;
            li{
                a{
                    font-size: 16px;
                    color: #666;
                }
                span{
                    width: 20px;
                    height: 20px;
                    display: inline-block;
                    margin-left: 5px;
                    background: url(../images/base.png) no-repeat -90px 0;
                    vertical-align: -5px;
                }
                a:hover{
                   color:red;
                   span{
                    background: url(../images/base.png) no-repeat -111px 0;
                   }
                }
            
            }
        }
    }
    .goods{
        width: 100%;
        background-color: red;
        .left{
            float: left;
        }
        .right{
            float: left;
            .righttop{
                .normal:nth-child(4){
                    margin-right: 0;
                }
            }
            .rightbottom{
                .normal:nth-child(4){
                    margin-right: 0;
                }
            }
        }

    }
}

.xiaohuarea{
    height: 730px;
    padding-bottom: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    .title{
        width: 100%;
        height: 97px;
        background-color: pink;
        display: flex;
        align-items: center;
        position: relative;
        .titleleft{
            float: left;
            li{
                width: 240px;
                height: 40px;
                line-height: 40px;
                background-color: yellow;
                p{
                    float: left;
                    font-size: 18px;
                    font-weight: bold;
                    margin-left: 10px;
                }
                img{
                    width: 35px;
                    height: 35px;
                    float: left;
                }
            }
            
        }
        .titleright{
            height: 97px;
            line-height: 97px;
            width: 70px;
            position: absolute;
            right: 0;
            li{
                a{
                    font-size: 16px;
                    color: #666;
                }
                span{
                    width: 20px;
                    height: 20px;
                    display: inline-block;
                    margin-left: 5px;
                    background: url(../images/base.png) no-repeat -90px 0;
                    vertical-align: -5px;
                }
                a:hover{
                   color:red;
                   span{
                    background: url(../images/base.png) no-repeat -111px 0;
                   }
                }
            
            }
        }
    }
    .goods{
        width: 100%;
        background-color: red;
        .left{
            float: left;
        }
        .right{
            float: left;
            .righttop{
                height: 650px;
                .normal:nth-child(4){
                    margin-right: 0;
                }
            }
            .rightbottom{
                .normal:nth-child(4){
                    margin-right: 0;
                }
            }
        }
       
    }
}

.comments{
    height: 475px;
    padding-bottom: 30px;
    .title{
        width: 100%;
        height: 97px;
        display: flex;
        align-items: center;
        position: relative;
        .titleleft{
            float: left;
            li{
                width: 240px;
                height: 40px;
                line-height: 40px;
                p{
                    float: left;
                    font-size: 18px;
                    font-weight: bold;
                    margin-left: 10px;
                }
                img{
                    width: 35px;
                    height: 35px;
                    float: left;
                }
            }
        }
    }
    .commentbox{
        width: 386px;
        height: 176px;
        background-color: aqua;
        float: left;
        text-align: left;
        margin-right: 16px;
        transition: all 0.2s linear;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: 130px;
            height: 130px;
            float: left;
        }
        .right{
            width: 184px;
            margin-left: 15px;
            line-height: 20px;
            color: #666;
            float: left;
            .text{
                height: 81px;
                line-height: 20px;
                color: #666;
                background-color: red;
            }
            .from{
                color: #999;
                font-size: 12px;
                line-height: 20px;
                span{
                    display: inline-block;
                    width: 14px;
                    height: 12px;
                    margin-right: 5px;
                    background: url(../images/base.png) no-repeat -174px 0;
                    vertical-align: -1px;
                }
            }
            .price{
                font-size: 14px;
                height: 20px;
                overflow: hidden;
                span{
                    color: #ea0406;
                    padding-left: 6px;
                    margin-left: 6px;
                    font-family: Arial;
                    border-left: 1px solid #DDD;
                }
            }
        }
        
    }
    .commentbox3,.commentbox6{
        margin-right: 0;
    }
    .commentbox:hover{
        transform:translateY(-1px);
        box-shadow:0px 12px 8px -11px gray;
    }
}









.heightbig{
    height: 614px;
    width: 226px;
    float: left;
    margin: 0 10px 15px 0;
    transition: all 0.2s linear;
}
.heightbig:hover{
    transform: translateY(-2px);
}

.normal{
    width: 950px;
    float: left;
    text-align: center;
    position: relative;
    // overflow: hidden;
    transition: all 0.2s linear;
    li{
        margin: 10px 16px 15px 0;
        float: left;
        width: 220px;
        height: 293px;
        background-color: white;
        text-align: center;
        a{
            width: 160px;
            height: 16px;
            img{
                padding-top: 40px;
                width: 160px;
                height: 160px;
                margin: 0 auto;

            }
        }
    }
    
    .goodsname{
        font-size: 14px;
        margin: 15px 15px 5px 15px;
        max-height: 38px;
        overflow: hidden;
    }
    .goodsprice{
        font-size: 18px;
        color: #eb0303;
        font-family: Arial;
    }
}

.normal:hover{
    .normalshadow{
        opacity: 1;
        position: absolute;
        top: 210px;
        transition:all 0.3s linear;
    }
}

