.main{

    .navbar{
        background-color: #f5f5f5;
        height: 44px;
        line-height: 44px;
        font-size: 12px;
        text-align: left; 
        a{
            color: #666;
            padding-right: 5px;
        }
        a:hover{
            color: red;
        }
        span{
            padding-right: 5px;
        }
    }
    .category{
        height: 25px;
        line-height: 25px;
        padding-top: 25px;
        padding-bottom: 25px;

        p{
            width: 42px;
            height: 25px;
            color: #999;
            float: left;
            text-align: left;
        }
        .cateall{
            width: 60px;
            float: left;
            a{
                display: block;
                color: #474747;
                float: left;
                width: 60px;
                height: 25px;

            }
            
        }
        .wmzb{
            a{
                display: block;
                color: #e90404;
                float: left;
                width:134px;
                height: 25px;
                border-left: 1px solid #ddd; 
            }
        }
    }
    .goodslist{
        background-color: #f5f5f5;
        padding-bottom: 50px;
    }
    .rank{
        height: 20px;
        text-align: right;
        overflow: hidden;
        font-size: 14px;

        padding: 20px 0;
        a{
            display: inline-block;
            height: 20px;
            line-height: 20px;
            margin-right: -1px;
            padding: 0 27px;
            border-right: 1px solid #ddd;
            color: #474747;
        }
        a:nth-child(2){
            span{
                display: inline-block;
                width: 6px;
                height: 11px;
                margin-left: 7px;
                overflow: hidden;
                background: url(../images/base.png) no-repeat -218px 0;
            }
        }
        a:nth-child(3){
            span{
                display: inline-block;
                width: 6px;
                height: 11px;
                margin-left: 7px;
                overflow: hidden;
                background: url(../images/base.png) no-repeat -224px 0;
            }
        }
        a:nth-child(4){
            border-right: 0;
        }
        a:hover{
            color: red;
        }
        a:nth-child(2):hover{
            span{
                background: url(../images/base.png) no-repeat -212px 0;
            }
        }
        a:nth-child(3):hover{
            span{
                background: url(../images/base.png) no-repeat -206px 0;
            }
        }
    }
    .goodsdetail{
        width: 1200px;
        // height: 310px;
        padding-top: 75px;
        margin: 0 auto;
        background-color: #fff;
        position: relative;
        // float: left;
        li{
            float: left;
            width: 300px;
            height: 310px;
            background-color: #fff;
            .like{
                
                width: 300px;
                height: 310px;
            }
        }
        
        a:nth-child(2){
            img{
                width: 210px;
                height: 210px;
                display: block;
                margin: 0 auto;
            }
        }
        .goodsname{
            font-size: 14px;
            padding: 15px 15px 15px 5px;
            max-height: 38px;
            overflow: hidden;
            color: #474747;
        }
        .goodsprice{
            display: block;
            font-size: 18px;
            color: #e90404;
            font-family: Arial;
        }
    }
}


// .shadowbox{
//     width: 287px;
//     height: 385px;
//     background-color: darkorange;
//     float: left;
//     position: relative;
//     overflow: hidden;
//     transition: all 0.2s linear;
// }
// .shadowbox:hover{
//     transform: translateY(-2px);
// }
// .shadowbox:hover{
//     .shadow{
//         opacity: 1;
//         position: absolute;
//         top: 210px;
//         transition:all 0.3s linear;
//     }
// }
.shadow{
    width: 287px;
    height: 90px;
    position: absolute;
    left: 0;
    top: 300px;
    background: url(../images/rgba.png) no-repeat 0 0 ;
    z-index: 15;
    opacity: 0;
    transition:all 0.3s linear;
    .starts{
        a{
           width: 74px;
            height: 14px;
            margin: 12px auto;
            background: url(../images/stars.png) no-repeat 0 0;  
            display: block;
        }    
    }
    .addin{
       a{
        position: absolute;
        top: 38px;
        left: 50%;
        width: 214px;
        height: 45px;
        line-height: 45px;
        margin: 0 auto 0 -108px;
        border: 1px solid #FFF;
        font-size: 16px;
        color: #FFF;
        display: block;
       }
    }
}
