.rightline {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 35px;
  background-color: #0a0a0a;
  text-align: center;
  z-index: 100; }
  .rightline .logos {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    margin-top: -140px;
    transition: all .2s linear; }
    .rightline .logos .first {
      position: relative;
      padding-bottom: 6px; }
      .rightline .logos .first a {
        display: block;
        color: #FFF;
        height: 35px; }
        .rightline .logos .first a span {
          display: inline-block;
          width: 18px;
          height: 18px;
          margin-top: 8px;
          background: url(../images/base.png) no-repeat -228px -74px; }
      .rightline .logos .first p {
        display: none;
        left: -128px;
        opacity: 0;
        position: absolute;
        top: 0;
        width: 71px;
        padding-left: 15px;
        height: 37px;
        line-height: 37px;
        text-align: left;
        background: url(../images/base.png) no-repeat -94px -90px;
        color: #FFF; }
    .rightline .logos .first:hover p {
      display: block;
      opacity: 1;
      position: absolute;
      left: -81px; }
    .rightline .logos .second {
      position: relative;
      padding-bottom: 6px; }
      .rightline .logos .second a {
        display: block;
        color: #FFF;
        height: 35px; }
        .rightline .logos .second a span {
          display: inline-block;
          width: 19px;
          height: 15px;
          margin-top: 11px;
          background: url(../images/base.png) no-repeat -228px -42px; }
      .rightline .logos .second p {
        display: none;
        left: -128px;
        opacity: 0;
        position: absolute;
        top: 0;
        width: 71px;
        padding-left: 15px;
        height: 37px;
        line-height: 37px;
        text-align: left;
        background: url(../images/base.png) no-repeat -94px -90px;
        color: #FFF; }
    .rightline .logos .second:hover p {
      display: block;
      opacity: 1;
      position: absolute;
      left: -81px; }
    .rightline .logos .third {
      position: relative;
      padding-bottom: 6px; }
      .rightline .logos .third a {
        display: block;
        color: #FFF;
        text-align: center;
        cursor: pointer; }
        .rightline .logos .third a span {
          display: inline-block;
          width: 22px;
          margin: 0 auto;
          padding: 13px 2px;
          font-size: 13px;
          border-top: 1px solid #323232;
          border-bottom: 1px solid #323232; }
          .rightline .logos .third a span i {
            display: inline-block;
            width: 22px;
            height: 18px;
            margin-bottom: 7px;
            background: url(../images/base.png) no-repeat -184px -56px; }
          .rightline .logos .third a span font {
            display: inline-block;
            width: 21px;
            height: 21px;
            margin-top: 8px;
            line-height: 21px;
            font-size: 11px;
            text-align: center;
            background-color: #df2f3a;
            border-radius: 11px; }
      .rightline .logos .third a:hover {
        background-color: #df2f3a; }
        .rightline .logos .third a:hover span {
          border-top: 1px solid #df2f3a;
          border-bottom: 1px solid #df2f3a; }
          .rightline .logos .third a:hover span i {
            background: url(../images/base.png) no-repeat -184px -38px; }
          .rightline .logos .third a:hover span font {
            background-color: black; }
    .rightline .logos .fouth {
      position: relative;
      padding-bottom: 6px;
      display: block; }
      .rightline .logos .fouth a {
        display: block;
        color: #FFF;
        text-align: center; }
        .rightline .logos .fouth a span {
          display: inline-block;
          width: 18px;
          height: 16px;
          margin-top: 10px;
          background: url(../images/base.png) no-repeat -228px -57px; }
      .rightline .logos .fouth p {
        display: none;
        left: -128px;
        opacity: 0;
        position: absolute;
        top: 0;
        width: 71px;
        padding-left: 15px;
        height: 37px;
        line-height: 37px;
        text-align: left;
        background: url(../images/base.png) no-repeat -94px -90px;
        color: #FFF; }
        .rightline .logos .fouth p a {
          margin-right: 15px; }
    .rightline .logos .fouth:hover p {
      display: block;
      opacity: 1;
      position: absolute;
      left: -81px; }
    .rightline .logos .gotop {
      position: absolute;
      bottom: -180px;
      left: 0;
      width: 35px;
      height: 35px; }
      .rightline .logos .gotop a {
        display: block;
        color: #FFF; }
      .rightline .logos .gotop span {
        display: inline-block;
        width: 24px;
        height: 22px;
        margin-top: 6px;
        background: url(../images/base.png) no-repeat -228px -20px; }

.head-top {
  height: 33px;
  background-color: #474747;
  color: #CCC;
  line-height: 33px;
  text-align: left; }
  .head-top ::before {
    content: ".";
    display: block;
    height: 0;
    visibility: hidden; }
  .head-top .head-topleft {
    float: left; }
    .head-top .head-topleft li {
      color: #ccc;
      width: 180px;
      float: left; }
  .head-top .head-topright {
    float: right;
    width: 415px;
    text-align: center;
    height: 33px; }
    .head-top .head-topright li {
      float: left; }
      .head-top .head-topright li a {
        color: #ccc; }
      .head-top .head-topright li a:hover {
        color: white; }
    .head-top .head-topright .login {
      width: 80px;
      height: 33px;
      margin-right: 20px;
      float: left; }
      .head-top .head-topright .login li {
        width: 38px;
        position: relative; }
      .head-top .head-topright .login .login1::after {
        content: "|";
        position: absolute;
        right: 0px;
        top: 0px;
        height: 11px;
        width: 1px;
        color: #ccc; }
    .head-top .head-topright .order {
      width: 150px;
      height: 33px;
      margin-right: 20px;
      float: left; }
      .head-top .head-topright .order li {
        width: 74px;
        position: relative; }
      .head-top .head-topright .order .order1::after {
        content: "|";
        position: absolute;
        right: 0px;
        top: 0px;
        height: 11px;
        width: 1px;
        color: #ccc; }
    .head-top .head-topright .shoppingcart {
      width: 120px;
      height: 33px;
      background-color: #1e1e1e;
      float: left;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      position: relative; }
      .head-top .head-topright .shoppingcart span {
        display: inline-block;
        width: 20px;
        height: 14px;
        overflow: hidden;
        background: url(../images/base.png) no-repeat -164px -20px;
        vertical-align: -2px; }
      .head-top .head-topright .shoppingcart .car {
        margin-left: 8px; }
        .head-top .head-topright .shoppingcart .car a {
          color: #666; }
        .head-top .head-topright .shoppingcart .car a:hover {
          color: white; }
      .head-top .head-topright .shoppingcart .cartlist {
        height: 106px;
        width: 350px;
        background-color: #fafafa;
        box-shadow: 0 2px 3px #ccc;
        position: absolute;
        z-index: 1;
        top: -74px;
        right: 0;
        display: none; }
        .head-top .head-topright .shoppingcart .cartlist p {
          padding: 49px 0 37px 0;
          text-align: center;
          font-size: 14px;
          color: #666; }
    .head-top .head-topright .shoppingcart:hover .cartlist {
      display: block;
      position: absolute;
      top: 33px;
      right: 0; }

.head-nav {
  height: 110px;
  border-bottom: 4px solid #c20315; }
  .head-nav .allgoods:hover {
    background-color: red; }
    .head-nav .allgoods:hover .secondmenu {
      display: block; }
    .head-nav .allgoods:hover a {
      color: white; }
    .head-nav .allgoods:hover span {
      background: url(../images/base.png) no-repeat -39px 0; }
  .head-nav .wmlogo {
    width: 180px;
    height: 110px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c20315; }
    .head-nav .wmlogo img {
      width: 120px;
      height: 40px; }
  .head-nav .shop {
    width: 120px;
    height: 110px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center; }
    .head-nav .shop img {
      width: 55px;
      height: 27px; }
  .head-nav .allgoods {
    width: 175px;
    height: 110px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    cursor: pointer;
    line-height: 110px;
    position: relative; }
    .head-nav .allgoods span {
      display: inline-block;
      width: 15px;
      height: 13px;
      margin-right: 7px;
      background: url(../images/base.png) no-repeat -24px 0; }
    .head-nav .allgoods a {
      color: black; }
    .head-nav .allgoods .secondmenu {
      font-size: 14px;
      background-color: #fff;
      box-shadow: 0 2px 3px #ccc;
      position: absolute;
      top: 101px;
      left: 0;
      z-index: 1;
      display: none; }
      .head-nav .allgoods .secondmenu li {
        background-color: yellow;
        position: relative; }
        .head-nav .allgoods .secondmenu li a {
          display: block;
          width: 155px;
          padding-right: 20px;
          height: 40px;
          line-height: 40px;
          background-color: #FFF;
          color: #474747;
          position: relative; }
        .head-nav .allgoods .secondmenu li span {
          position: absolute;
          top: 15px;
          right: 10px;
          width: 6px;
          height: 10px;
          overflow: hidden;
          background: url(../images/base.png) no-repeat -54px 0; }
        .head-nav .allgoods .secondmenu li .thirdmenu {
          font-size: 14px;
          background-color: #fff;
          box-shadow: 0 2px 3px #ccc;
          position: absolute;
          left: 175px;
          top: 0;
          display: none;
          overflow: hidden; }
          .head-nav .allgoods .secondmenu li .thirdmenu dd a {
            display: block;
            width: 155px;
            height: 40px;
            line-height: 40px;
            background-color: #f5f5f5;
            color: #474747; }
          .head-nav .allgoods .secondmenu li .thirdmenu dd a:hover {
            background-color: white; }
      .head-nav .allgoods .secondmenu li:hover a {
        color: red;
        background-color: #f5f5f5; }
      .head-nav .allgoods .secondmenu li:hover span {
        background: url(../images/base.png) no-repeat -60px 0; }
    .head-nav .allgoods .secondmenu:hover .thirdmenu {
      display: block; }
  .head-nav .links {
    height: 110px;
    line-height: 110px;
    float: left;
    font-size: 14px; }
    .head-nav .links li {
      float: left;
      text-align: center; }
      .head-nav .links li a:hover {
        color: red; }
      .head-nav .links li a {
        color: black; }
    .head-nav .links li:first-child {
      margin-left: 30px;
      width: 60px; }
    .head-nav .links li:nth-child(2) {
      width: 120px; }
    .head-nav .links li:nth-child(3) {
      width: 120px; }
    .head-nav .links li:nth-child(4) {
      width: 60px; }
  .head-nav .search .text {
    float: left;
    width: 263px;
    height: 39px;
    line-height: 39px;
    padding: 0 5px;
    border: 1px solid #CCC;
    border-right: 0;
    margin-top: 35px;
    position: relative; }
  .head-nav .search .btn {
    float: left;
    width: 46px;
    height: 41px;
    border: 0;
    background: #e32332 url(../images/search.png) no-repeat center;
    cursor: pointer;
    position: absolute;
    right: 185px;
    top: 68px; }

/*# sourceMappingURL=head.css.map */
