.main{
    background-color: #f5f5f5;
    padding-bottom: 50px;
}
.head{
    height: 100px;
    background-color: #f5f5f5;
}
.head img{
    padding-top: 40px;
    margin-left: 200px;
    width: 150px;
    height:auto;
}
.regpart{
    width: 396px;
    background-color: #fff;
    margin: 0 auto;
    padding: 60px 211px;
}
.tit{
    color: #333333;
    line-height: 36px;
    font-size: 34px;
    text-shadow: none;
    font-weight: normal;
    margin: 0 0 10px;
}
.vicetit{
    color: #999999;
    line-height: 18px;
    margin: 0 0 34px;
}
form p{
    border: 1px solid #999;
    margin-bottom: 17px;
    padding: 0 24px 0 10px;
    position: relative;
}
form input{
    width: 360px;
    height: 19.2px;
    padding: 7px 0;
    font-size: 14px;
    color: #666;
    vertical-align: top;
    line-height: normal;
}
form span{
    position: absolute;
    width: 200px;
    top: 9px;
    left: 400px;
    font-size: 12px;
    line-height: 16px;
    font-family: "Arial", "Simsun";
    height: 19px;
    text-align: left;
}
.submit{
   border: 0;
}
#submit{
    border: 1px solid #999;
    margin: 0 auto;
    height: 35px;
    width: 70px;
    color: red;
}